.home {
  display: flex;
}
.category {
  width: 15%;
  min-width: 150px;
  border-right: 1px solid black;
  padding: 1rem;
}
.product_list {
  width: 100%;
  padding: 1rem;
  padding-right: 0;
}
.product_list ul {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
